:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.badget-square-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.badget-square-div > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
}

.badget-pill-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.badget-pill-div > button {
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
}
