* {
  box-sizing: border-box;
}
body {
  font-family: "Karla", "Inter", sans-serif;
  background-color: #f5f7fb;
  color: #293264;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  font-size: 3.5rem;
  margin-bottom: 0px;
}
.description {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
}
.primary-btn {
  width: 190px;
  height: 50px;
  background-color: #4d5b9e;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}
.blob {
  position: fixed;
  z-index: -1;
}
.yellow-blob {
  top: -50px;
  right: -50px;
  width: 200px;
  height: 200px;
  background-color: #fffad1;
  border-radius: 0 0 0 100%;
  transform: scale(1.5);
}

.blue-blob {
  bottom: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  background-color: #deebf8;
  border-radius: 0 100% 0 0;
  transform: scale(1.5);
}
