* {
  box-sizing: border-box;
}
body {
  font-family: "Karla", "Inter", sans-serif;
  background-color: #f5f7fb;
  color: #293264;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  font-size: 3.5rem;
  margin-bottom: 0px;
}
.description {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
}
.primary-btn {
  width: 190px;
  height: 50px;
  background-color: #4d5b9e;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}
.blob {
  position: fixed;
  z-index: -1;
}
.yellow-blob {
  top: -50px;
  right: -50px;
  width: 200px;
  height: 200px;
  background-color: #fffad1;
  border-radius: 0 0 0 100%;
  transform: scale(1.5);
}

.blue-blob {
  bottom: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  background-color: #deebf8;
  border-radius: 0 100% 0 0;
  transform: scale(1.5);
}

.question-container {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}
.question-text {
  font-size: 1.15rem;
  font-weight: 700;
  color: #293264;
  line-height: 1.3;
  margin-bottom: 15px;
}
.divider {
  border: 0;
  border-bottom: 1px solid #dbdef0;
  margin-top: 15px;
  margin-bottom: 20px;
}
.answers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.answer-btn {
  background-color: transparent;
  border: 1px solid #4d5b9e;
  border-radius: 12px;
  padding: 8px 16px;
  color: #293264;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
